.goods {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.sell-panel {
  padding: 0 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  .controls {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .input {
      width: 30px;
      background: none;
      border: 1px solid #877f72;
      color: #a68156;
      padding-left: 3px;
    }

    .unit {
      font-size: 14px;
    }
  }
}
