@import "../../vars";

.cities-list {
    display: flex;
    text-align: center;
    background: $color2;

    gap: 20px;
    justify-content: center;
    
    .city {
        padding: 15px;
        min-width: 100px;
        text-decoration: none;
        color: $color4;
        display: inline-block;
        font-weight: 700;

        &.active {
            background: $color3;
            color: $color5;
        }
    }
}