@import '../../vars';

.good {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid $color2;
  cursor: pointer;
  position: relative;

  &.selected {
    border-color: $color5;
  }

  .good-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 14px;
    text-align: center;
    font-size: 10px;
    color: $color5;
    background: rgba(0, 0, 0, 0.701);
  }

  &-1 {
    background-image: url(../../assats/image/icons.png);
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  &-2 {
    background-image: url(../../assats/image/icons.png);
    background-repeat: no-repeat;
    background-position: -54px 0;
  }

  &-3 {
    background-image: url(../../assats/image/icons.png);
    background-repeat: no-repeat;
    background-position: -108px 0;
  }

  &-4 {
    background-image: url(../../assats/image/icons.png);
    background-repeat: no-repeat;
    background-position: -162px 0;
  }

  &-5 {
    background-image: url(../../assats/image/icons.png);
    background-repeat: no-repeat;
    background-position: -218px 0;
  }

  &-6 {
    background-image: url(../../assats/image/icons.png);
    background-repeat: no-repeat;
    background-position: -274px 0;
  }

  &-7 {
    background-image: url(../../assats/image/icons.png);
    background-repeat: no-repeat;
    background-position: -330px 0;
  }

  &-8 {
    background-image: url(../../assats/image/icons.png);
    background-repeat: no-repeat;
    background-position: 0px -54px;
  }

  &-9 {
    background-image: url(../../assats/image/icons.png);
    background-repeat: no-repeat;
    background-position: -54px -54px;
  }

  &-10 {
    background-image: url(../../assats/image/icons.png);
    background-repeat: no-repeat;
    background-position: -108px -54px;
  }

  &-11 {
    background-image: url(../../assats/image/icons.png);
    background-repeat: no-repeat;
    background-position: -162px -54px;
  }

  &-12 {
    background-image: url(../../assats/image/icons.png);
    background-repeat: no-repeat;
    background-position: -218px -54px;
  }

  &-13 {
    background-image: url(../../assats/image/icons.png);
    background-repeat: no-repeat;
    background-position: -274px -54px;
  }

  &-14 {
    background-image: url(../../assats/image/icons.png);
    background-repeat: no-repeat;
    background-position: -330px -54px;
  }

  &-money {
    background-image: url(../../assats/image/icons.png);
    background-repeat: no-repeat;
    background-position: -380px -0px;
  }
}
