@import '../../vars';

.city-goods {
  .good-item-wrapper {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .good-stats {
    border: 1px solid $color2;
    padding: 10px;
    height: 110px;
    width: 100%;
    max-width: 385px;
  }

  .input-good {
    width: 30px;
    background: none;
    border: 1px solid #877f72;
    color: #a68156;
    width: 100%;
    max-width: 52px;
    padding-left: 3px;
  }

  .good-info {
    width: 50px;
  }

  .price-description {
    font-size: 10px;
    margin-top: 3px;
  }
}
