.stats-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 10px;
}

.money {
  padding-left: 30px;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 42px;
    height: 45px;
    background: url("../../assats/image/icons.png") -385px 0;
    transform: scale(0.4) translateY(-25%);
    left: -10px;
    top: -50%;
  }
}
