@import "./vars";

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background: $color5;

  .app-name {
    padding: 15px 0;
    color: #a68156;
    text-align: center;
  }

  .app-content {
    width: 820px;
    background: $color1;
    border-radius: 4px;
    box-shadow: 0 0 3px 1px #000000;
  }

  .content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: $color1;

    .column {
      width: 300px;

      &:last-child {
        width: 460px;

        .panel:last-child {
          margin-bottom: 0;
        }
      }

      .stats {
        .panel {

          margin-bottom: 0;
        }
      }

      .panel {
        margin-bottom: 20px;
        border: 1px solid $color2;
        border-top: 0;
      }
    }
  }
}

.title {
  background: $color2;
  border: 1px solid $color2;
  padding: 10px;
  margin: 0;
  color: $color5;
  font-size: 18px;
}
