@import "vars";

*,
select {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: $color5;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

button {
  cursor: pointer;
}

button,
input {
  &:focus,
  &:active {
    outline: none;
  }
}

input {
  padding: 0;
}

input, select {
  box-sizing: border-box;
  border: 1px solid $color3;
  color: $color5;
}

p {
  margin: 0;
}

.button {
  background: $color3;
  color: $color5;
  border: 1px solid $color3;
  font-size: 12px;
  transition: color 0.3s ease-in;
  padding: 2px 4px;
  width: 100%;

  &:hover {
    color: #fff;
  }

  &:disabled {
    opacity: 0.9;
    background: $color2;
    color: $color4;
    cursor: not-allowed;
  }
}
