.transportations {
  .good-item-wrapper {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  .good-transportations-info {
    display: flex;
    padding: 5px;
    width: 100%;
    text-align-last: left;
    justify-content: space-between;
    font-size: 14px;

    .header {

    }

    .days {
        margin-bottom: 5px;
        display: flex;
        justify-content: center;
    }

    .path {
        text-align: center;
    }
  }
}

.order-panel {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;

    .select-сity {
        width: 170px;
        background: none;
        border: solid 1px #877f72;
        color: #a68156;
        outline: none;
    }
}
