.goods {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.sell-panel {
  padding: 0 30px;

  .sell-panel-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .sell-panel-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 14px;
  }

  .sell-panel-info {
    font-size: 10px ;
    text-align-last: left;
    position: absolute;
    top: 26px;
  }

  .controls {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .input {
      width: 38px;
      background: none;
      border: 1px solid #877f72;
      color: #a68156;
      padding-left: 3px;
    }

    .unit {
      font-size: 14px;
    }
  }
}
