.deposits {

    .good-item-wrapper {
        padding: 0 15px 0 0;
        display: flex;
        justify-content: space-between;
    }

    .good-item-deposit-info {
        padding: 0 10px;
        display: flex;
        padding: 5px;
        width: 100%;
        text-align-last: left;
        justify-content: space-between;
        align-items: center;
    }

    .header, 
    .days {
        font-size: 14px;
        padding: 3px 0 3px;
    }
}